ipykernel
ipyleaflet
geemap
scipy
ipywidgets
matplotlib
numpy
pandas
python-dateutil
requests
solara
altair
openmeteo-requests
requests-cache 
retry-requests
python-dotenv
jupyterlab
xarray
rioxarray
cartopy
netcdf4
earthengine-api
pyresample
satpy
geopandas
dask
pysteps
opencv-python-headless
tqdm
h5py
xarray
cartopy
openpyxl